body {
    width: auto;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-image: url(/elf/resource/images/twintail.png);
    background-size: cover;


}
.item-box {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 3px solid #f5d68e;
    padding: 25px;
    -webkit-box-shadow: 0 5px 5px 0 #948d6e;
    box-shadow: 0 5px 5px 0 #948d6e;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #181818;
    background-image: url(/elf/resource/images/itembg.png);
}
@media only screen and (max-width: 1000px)
    .gacha-box {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
        background: url(/static/images/gachabg.jpg) 50%;
    }
.gacha-box {
    background-image: url(/elf/resource/images/gachabg.jpg);
    background-size: cover;
    width: 1024px;
    height: 455px;
    margin: 20px auto 0 auto;
    padding-top: 60px;
}
    @media only screen and (max-width: 1000px)
        .gacha-box .gacha-content {
            height: auto;
            margin-top: 0;
            padding-top: 10px;
            min-height: 110px;
        }
.gacha-content {

    width: 80%;
    margin: 0 auto;
    height: 305px;
    background: hsla(0,0%,100%,.7);
    padding: 50px 10px 10px 10px;
    border: 1px solid #856c82;
    -webkit-box-shadow: 0 7px 13px 0 rgba(56,56,56,.17);
    box-shadow: 0 7px 13px 0 rgba(56,56,56,.17);
    border-radius: 8px;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
}
.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.pic1{
    position: absolute;
    top:110px;
    left:450px;
    vertical-align: middle;
    float:left;}
.pic1 div,.pic2 div{float:left;}
.pic2{position: absolute;
    top:308px;
    left:450px;
    vertical-align: middle;
    float:left;}
.pic1 img,.pic2 img,.pp3 img{
    width:110px;
    padding:0 10px;
    vertical-align: middle;
    }
.gacha-info {
    display: inline-block;
    font-size: 15px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.g-font {
    font-size: 20px;
    color: #007bff;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.peco{
    position:absolute;
    left:65%;
    top:65%;
    width: 300px;
    height: 150px;
    float:left;
    background: url("/elf/resource/images/peco.gif") no-repeat;
}
.u1{
    position:absolute;
    left:25%;
    top:65%;
    width: 300px;
    height: 150px;
    float:left;
    background: url("/elf/resource/images/u1.gif") no-repeat;
}  .hatsune{
       position:absolute;
       left:45%;
       top:65%;
       width: 300px;
       height: 150px;
       float:left;
       background: url("/elf/resource/images/hatsune.gif") no-repeat;
   }